<template>
    <MainPage :title="config.app_name"  :nomore="true" v-on:callback="back">
        <div slot="content">
            <div class="main-index">
                <cube-scroll  ref="scroll" :data="prodLog.results" :options="scrollLogOpts" :scroll-events="['scroll']"  @pulling-down="logRefresh" @pulling-up="logLoadMore">
                <div v-for="(item, index) in prodLog.results" class="prod-block" :key="index" >
                    <div class="prod-item">
                        <div style="display: flex;align-items: center;">
                            <img class="imgIcon" :src="require('@/assets/images/prod/'+item.ID+'.png')">
                        </div>
                        <div class="record-content">
                            <div class="record-txt"><span class="record-prod-name">{{item.Name}}</span></div>
                            <div class="record-txt" ><div class="record-icon-size"><i class="fas fa-history"></i></div> <div>{{$t('prod.item1')}}: {{item.Ending}}</div></div>
                            <div class="record-txt" ><div class="record-icon-size"><i class="fas fa-dove"></i></div> <div>{{$t('prod.item2')}}: {{item.Price}} - {{item.MaxPrice}}</div></div>
                            <div class="record-txt" ><div class="record-icon-size"><i class="fas fa-kiwi-bird"></i></div> <div>{{$t('prod.item3')}}: {{item.Cost}}</div></div>
                            <div class="record-txt" ><div class="record-icon-size"><i class="fas fa-seedling"></i></div> <div>{{$t('prod.item4')}}: {{item.BonusDay}}Days / {{item.Bonus}}%</div></div>
                        </div>
                    </div>
                    <div class="order-flex">
                        <cube-button  class="game-btn" :disabled="time[item.ID].countdown <= 0" :class="{'disabled-btn':time[item.ID].countdown <= 0}" @click="bid(item)" >{{$t('prod.item5')}} [{{item.Cost}}]{{$t('prod.item3')}}</cube-button>
                        <div class="time-center-content">
                           <div class="time-center-block">
                                {{time[item.ID].hr}}
                            </div>
                            <div class="time-center-split">
                                :
                            </div>
                            <div class="time-center-block">
                                {{time[item.ID].min}}
                            </div>
                            <div class="time-center-split">
                                :
                            </div>
                            <div class="time-center-block">
                                {{time[item.ID].sec}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="no-record" v-if="!prodLog.results.length">
                    <img class="no-record-img" src="@/assets/images/user/norecord.png">
                    <div class="no-record-txt">{{this.$t('lang.msg35')}}</div>
                </div>
                </cube-scroll>
            </div>
            <TabBar></TabBar>
        </div>
    </MainPage>
</template>
<script>
import { Locale } from 'cube-ui'
import MainPage from '@/components/nav-bar.vue'
import TabBar from '@/components/tab-bar.vue'
import moment from 'moment'
import { mapGetters } from "vuex";
import { apiProd,apiBid } from "@/api.js";
import { globalMixin } from '@/mixin.js';
export default {
    mixins: [globalMixin,Locale.localeMixin],
    data() {
        return {
            time:[],
            prodLog:{
                results:[],
            },
            log: {
                y: 0,
                col: 2,
                data: [],

                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: ' ', //'Resfresh Success',

                pullUpLoadThreshold: 0,
                pullUpLoadMoreTxt: ' ',  //'Load more',
                pullUpLoadNoMoreTxt: '',    //'No more data',
            },
            current_page:1,
            show_view:false,
            default_view:null,
        }
    },
    methods: {
        back()
        {
          this.$router.back()
          //this.$emit('switchView');
        },
        bid(item)
        {
            this.$createDialog({
                type: 'confirm',
                icon: 'cubeic-alert',
                title: this.$t('lang.msg23'),
                content: this.$t('lang.msg23')+' '+item.Name,
                confirmBtn: {
                  text: this.$t('lang.msg24'),
                  active: true,
                  disabled: false,
                },
                cancelBtn: {
                  text: this.$t('lang.msg25'),
                  active: false,
                  disabled: false,
                },
                onConfirm: () => {
                    apiBid({
                        Pid: item.ID,
                        })
                        .then(response => {
                            if(!response.data.status)
                            {
                                this.error_handler(response.data);
                            }
                            if(response.data.status)
                            {
                                this.toast(this.$t('lang.msg26'));
                            }
                            return;
                        }).catch(error => {
                            console.log(error);
                            return;
                        });
                },
                onCancel: () => {
                }
            }).show()
        },
        getLog(page)
        {
            apiProd({
                page: page,
                })
                .then(response => {
                    if(!response.data.status)
                    {
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.prodLog.results.splice(0,this.prodLog.results.length);
                        this.time.splice(0,this.time.length);
                    }
                    if(response.data.status)
                    {
                        let msec = 0;
                        if(response.data.data == null || response.data.data.length==0)
                        {
                            this.$refs.scroll.forceUpdate(false);
                            return;
                        }
                        var now = new Date()
                        var clientTime=(Date.parse(now)/1000);
                        var nowdate=moment(now).format("YYYY-MM-DD");
                        for(var n in response.data.data)
                        {
                            var timestamp2 = Date.parse(moment(nowdate+" "+response.data.data[n].Ending,'YYYY-MM-DD HH:mm:ss').toDate()) / 1000;
                            msec=timestamp2 - clientTime;
                            var timeData=this.gethms(msec);
                            this.time[response.data.data[n].ID]={
                                day:timeData.day,
                                hr:timeData.hr,
                                min:timeData.min,
                                sec:timeData.sec,
                                countdown:msec
                            }

                            this.time.splice(response.data.data[n].ID, 1, {
                                day:timeData.day,
                                hr:timeData.hr,
                                min:timeData.min,
                                sec:timeData.sec,
                                countdown:msec
                            })
                        }
                        this.prodLog.results=this.prodLog.results.concat(response.data.data);
                        this.$refs.scroll.refresh();
                        clearInterval(this.cd);
                        this.cd = setInterval(() => {
                            this.countDown();
                        }, 1000);
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    this.$refs.scroll.forceUpdate();
                    return;
                });
        },
        countDown() 
        {
            clearInterval(this.cd);
            let msec = 0;
            for(var n in this.time)
            {
                msec = this.time[n].countdown - 1;
                var timeData=this.gethms(msec);
                if(msec<0)
                {
                    timeData.day=0;
                    timeData.hr="00";
                    timeData.min="00";
                    timeData.sec="00";
                }
                this.time.splice(n, 1, {
                    day:timeData.day,
                    hr:timeData.hr,
                    min:timeData.min,
                    sec:timeData.sec,
                    countdown:msec
                })
            }
            this.cd = setInterval(() => {
                this.countDown();
            }, 1000);
        },
        logRefresh(){
            this.current_page=1;
            setTimeout(() => {
                this.getLog(this.current_page);
            }, 1000);
        },
        logLoadMore(){
            this.current_page++;
            setTimeout(() => {
                this.getLog(this.current_page);
            }, 1000);
        },
    },
    computed: {
		...mapGetters({
            user: "user",
            config: "config",
        }),
        scrollLogOpts() {
            return {
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
                pullUpLoad: {
                    threshold: parseInt(this.log.pullUpLoadThreshold),
                    txt: {
                        more: this.log.pullUpLoadMoreTxt,
                        noMore: this.$t('lang.err3')
                    }
                },
                scrollbar: true
            }
        },
    },
    components: {
        MainPage,
        TabBar
    },
    created() {
        this.getLog(1);
        if(this.user.Username==''){
            this.checkLogin();
        }
    }
}

</script>
<style lang="stylus" rel="stylesheet/stylus" scoped>
.main-index
    bottom: 65px;
    .order-flex
        display inline-flex
        padding 10px 0px
    .time-center-content
        text-align left
        display flex
        padding-top: 5px;
        padding-left: 10px;
        .time-center-block
            width: 40px;
            text-align: center;
            height: 40px;
            background: $time-bg-color;
            color: $time-font-color;
            border-radius: 5px;
            line-height: 40px;
        .time-center-split
            width: 16px;
            text-align: center;
            height: 40px;
            line-height: 40px;
            font-weight: bold;
        .game-btn
            width 150px
    .prod-item
        display inline-flex
        .record-prod-name
            font-size 16px
        .imgIcon
            width 100px
        .record-content
            line-height: 25px
            padding 0px 10px
            .record-icon-size
                width 22px;
            .record-txt
                font-size 15px
                display flex
</style>
