<template>
	<div class="default-body">
		<div class="default-content" >
			<CubeView></CubeView>
		</div>
	</div>
</template>
<script type="text/ecmascript-6">
import CubeView from '@/components/cube-view.vue'
export default {
    data() {
        return {}
    },
    methods: {

    },
    computed: {

    },
    components: {
        CubeView,
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus">
.default-body
    position: absolute
    z-index: 1
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: $main-bg-color;
.main-index
    color $main-font-color;
    font-size 16px;
    position: fixed; 
    top: 51px;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    overflow:hidden;
    ::-webkit-input-placeholder
        color $placeholder-color;
    ::placeholder
        color $placeholder-color;
    ::-moz-placeholder
        color $placeholder-color;
    .green-bgcolor
        background-color $font-green-color;
    .red-bgcolor
        background-color $font-red-color;
    .red-color
        color $font-red-color;
    .col20
        width 20%;
    .col30
        width 30%;
        line-height: 40px;
    .col70
        width 70%;
        line-height: 40px;
    .col50
        width 50%;
        line-height: 40px;
    .col15
        width 15%;
    .col25
        width 25%;
        line-height: 40px;
    .col80
        width 80%;
        line-height: 40px;
    .col40
        width 40%;
        line-height: 40px;
    .col60
        width 60%;
        line-height: 40px;
    .col75
        width 75%;
    .record-title
        font-weight: bold;
        line-height: 29px;
        font-size: 16px;
        flex: auto;
    .prod-block
        margin-top: 15px;
        background: $prod-black-color;
        padding: 5px 15px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 5px;
    .fw700
        font-weight 700;
    .text-left
        text-align left;
    .text-right
        text-align right;
        color #aaa;
    .table
        width 100%;
        .text-right
            text-align right;
            color unset;
        .padding
            padding  10px 10px;
        .record-content
            line-height: 29px;
            font-size: 16px;
            background-color $record-item-bg-color
        .record-line
            border-bottom: 1px $border-bottom-color solid;
    .main-banner
        height 125px
        width 100%
    .record-body
        position: fixed; 
        bottom: 0px;
        top: 86px;
        left: 0;
        right: 0;
        overflow:hidden;
    .record-item
        display flex;
        margin-bottom 1px;
        background-color $record-item-bg-color
        padding: 10px 10px;
        .record-top
            display flex;
            width 100%
    .reg-icon
        font-size: .6rem;
    .reg-field
        padding: 5px 0px 0px 12px;
    .reg-checkbox
        text-align center;
        color $main-font-color;
    .padding
        padding: 10px;
    .error-msg
        // padding: 5px;
    .record-time-zone
        display inline-flex
        padding-top 10px
        padding-left 18px
        .time-padding
            padding 0px 10px
    .no-record
        margin: 30px auto;
        text-align: center;
    .no-record-txt
        color: #999;
        font-size: 14px;
        margin: 14px auto;
    .no-record-img
        width 121px;
    .record-finish
        padding:10px 0;
        text-align: center;
        .record-finish-icon
            font-size: 68px;
            line-height: 60px;
        .record-finish-text
            font-size: 16px;
            line-height: 45px;
        .record-finish-commet
            line-height: 25px;
            color:$font-gray-color
    .record-prod-name
        color $prod-name-color
    .cube-btn
        border-radius 5px;
.v-step-item-label
    color $main-font-color !important
.cube-btn_disabled::after
    border unset !important
.cube-btn_disabled
    position:unset;
.cube-tab-bar
    background-color: $tab-bar-bg-color
    position: fixed;
    width: 100%;
    box-shadow: 0 0 7px rgba(0,0,0,0.6);
    bottom 0px;
    top: unset;
    .cube-tab
        font-size 16px
        line-height 20px
        .icon-size
            font-size 34px
            line-height 36px
.cube-form-group
    color $main-font-color;
    .quick-btn
        color: #d9e8f6;
        border-radius: 2px;
        box-sizing: border-box;
        border: 1px solid rgba(64,158,255,.7) !important;
        background-color: rgba(74, 144, 226, .2);
        text-align: center;
        position: relative;
        border: none;
        pointer-events: auto;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: 30px;
        font-size: 0.4rem;
        display: inline-block;
        padding: 0 10px;
        box-sizing: content-box;
        border-radius: 2px;
        white-space: nowrap;
        width:auto;
        margin-right: .15rem;
.cube-input-field
    background-color: #44444461;
.border-top-1px::before, .border-right-1px::before, .border-bottom-1px::before, .border-left-1px::before, .border-top-1px::after, .border-right-1px::after, .border-bottom-1px::after, .border-left-1px::after
    background-color $dialog-border-color;
.filtermenu-enter,.filtermenu-leave-to 
  transform translateX(100%)
.filtermenu-enter-to,.filtermenu-leave 
  transform translateX(0)
.filtermenu-enter-active,.filtermenu-leave-active 
  transition all .5s
</style>