<template>
    <div slot="content" >
        <div class="main-index">
            <cube-scroll  ref="scroll" :data="results" :options="scrollLogOpts" :scroll-events="['scroll']"  @pulling-down="logRefresh" @pulling-up="logLoadMore">
				<div v-for="(item, index) in results" class="record-item" :key="index" @click="onItemClick(index)" >
                    <div class="record-top">
                        <div class="record-title text-left">
                            {{ item.Title }}
                        </div>
                        <div class=" text-right">
                            {{ getMomentDate(item.CreatedAt)}}
                        </div>
                    </div>
                    <div class="record-line">
                    </div>
					<div class="record-bot">
						<div class="col record-subtitle text-left">{{ item.Content }}</div>
					</div>                   
				</div>
                <div class="no-record" v-if="!results.length">
                    <img class="no-record-img" src="@/assets/images/user/norecord.png">
                    <div class="no-record-txt">{{$t('lang.msg35')}}</div>
                </div>
            </cube-scroll>
        </div>   
    </div>
</template>

<script type="text/ecmascript-6" >
import { Locale } from 'cube-ui'
import { apiBulletin } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,Locale.localeMixin],
    data() {
        return {
            results:[],
            log: {
                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: ' ', //'Resfresh Success',

                pullUpLoadThreshold: 0,
                pullUpLoadMoreTxt: '',  //'Load more',
                pullUpLoadNoMoreTxt: '',    //'No more data',
            },
            current_page:1,
        }
    },
    methods: {      
        getLog(page)
        {
            apiBulletin({
                page: page,
                })
                .then(response => {
                    if(!response.data.status)
                    {
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.results.splice(0,this.results.length);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data == null || response.data.data.length==0)
                        {
                            this.$refs.scroll.forceUpdate(false);
                            return;
                        }
                        this.results=this.results.concat(response.data.data);
                        this.$refs.scroll.refresh();
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    this.$refs.scroll.forceUpdate();
                    return;
                });
        },
        onItemClick(index)
        {
            this.dialog('alert',this.results[index].Title,this.results[index].Content);
        },
        logRefresh(){
            this.current_page=1;
            setTimeout(() => {
                this.getLog(this.current_page);
            }, 1000);
        },
        logLoadMore(){
            this.current_page++;
            setTimeout(() => {
                this.getLog(this.current_page);
            }, 1000);
        },        
    },
    computed: {
		...mapGetters({
            config:'config',
        }),
        scrollLogOpts() {
            return {
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
                pullUpLoad: {
                    threshold: parseInt(this.log.pullUpLoadThreshold),
                    txt: {
                        more: this.log.pullUpLoadMoreTxt,
                        noMore: this.log.pullUpLoadNoMoreTxt
                    }
                },
            }
        },        
    },
    components: {
    },
    created() {
        this.getLog(1);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.main-index
    top: 85px;
    .record-line
        height 1px;
        border-bottom: 1px $border-bottom-color solid;
    .record-bot
        padding-bottom: 5px;
        .col
            width 100%;
        .record-subtitle
            line-height: 20px;
            font-size: 16px;
            white-space : nowrap;
            text-overflow: ellipsis;
            width :100%
            overflow: hidden;
            padding-top: 10px;
    .record-top
        display flex;
        padding-bottom: 5px;
    .record-item
        padding: 10px 10px;
        margin-bottom: 10px;
        display block
</style>
