<template>
    <MainPage :title="config.app_name" :noback="true" :nomore="true">
        <div slot="content">
            <div class="main-index">
                <img class="main-banner" src="@/assets/home-banner.jpg">
                <div class="main-Bulletin">
                    <i class="fas fa-bullhorn icon-bulletin"></i>
                    <Swiper :options="swiperOptionBulletin" >
                      <SwiperSlide v-for="(slide, index) in swiperBulletin" :key="index" @click.native="bulletinPopup(index)">
                        {{slide}}
                        </SwiperSlide>
                    </Swiper>
                </div>
                <div class="index-introduction">
                    <cube-scroll>
                        <ul>
                            <li class="li-break">
                                说到斯里兰卡，它有一个很高贵的称呼，就是“宝石岛”，位于印度洋海上，是英联邦成员国之一，凭借地理位置和矿业的优势，成为世界前五名的宝石生产大国，其中更是以红宝石、蓝宝石及猫眼石最为出名。
                            </li>
                            <li class="li-break">
                                最初，珠宝是一种装饰品，只要你喜欢，而且你能买得起，那你就可以把它戴在身上。遗憾的是，面对太多这些拥有着很高的财富价值的东西，人类的心灵就慢慢的变得不那么淳朴了，因此也就有了塞拉利昂的“血钻”。
                            </li>
                            <li class="li-break">
                                相对幸运的是，在斯里兰卡这个亚洲持续最长时间内战的国度，它的土地是生产宝石的母岩（前寒武纪高度结晶的变质岩）的所在地，但在猛虎组织的巢穴-北部的贾夫纳半岛，幸运的是，这儿没有宝石矿。
                            </li>
                            <li class="li-break">
                                斯里兰卡的宝石开采历史已经有2500多年。在这片土地上，带有宝石的母岩被水冲击着，它将沉积物、砾石还有粘土里面的宝石搅拌在一起，分散在河床、湿地、农田或山脚下，通常位于地面以下1.5-18米深。
                            </li>
                        </ul>
                    </cube-scroll>
                </div>
                <div class="padding home-btn">
                    <cube-button  @click="go2page('/login')" >立即登入</cube-button>
                </div>
            </div>
        </div>
    </MainPage>
</template>
<script>
import { Locale } from 'cube-ui'
import MainPage from '@/components/nav-bar.vue'
import { apiBulletin } from "@/api.js";
import { mapGetters } from "vuex";
import { globalMixin } from '@/mixin.js';
import { Swiper, SwiperSlide, } from 'vue-awesome-swiper'
import 'swiper/swiper-bundle.css'

export default {
    mixins: [globalMixin,Locale.localeMixin],
    data() {
        return {
            swiperBulletin:[],
            results:[],
            swiperOptionBulletin: {
                autoplay: {
                  delay: 3000,
                  disableOnInteraction: false
                },
            },
        }
    },
    methods: {
        back()
        {
          this.$router.back()
        },
        bulletinPopup(index)
        {
          this.dialog('alert',this.results[index].Title,this.results[index].Content);
        },
        getLog(page)
        {
            apiBulletin({
                page: page,
                })
                .then(response => {
                    if(!response.data.status)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data == null || response.data.data.length==0)
                        {
                            return;
                        }
                      for(var k in response.data.data)
                      {
                          this.swiperBulletin.push(response.data.data[k].Title);
                      }
                      this.results=this.results.concat(response.data.data);
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
    },
    computed: {
		...mapGetters({
            config: "config",
        }),
    },
    components: {
        MainPage,
        Swiper,
        SwiperSlide,
    },
    created() 
    {
        this.getLog(1)
    },
}

</script>
<style lang="stylus" rel="stylesheet/stylus" scoped>
.main-index
    background-image: url("assets/images/index-bg2.png")
    //background-image: url("assets/images/index-bg.jpg")
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .main-Bulletin
        display flex;
        background-color $navbar-bg-color;
        height: 30px;
        line-height 30px;
        margin-top: -3px;
    .icon-bulletin
        line-height 30px;
        padding 0px 10px;
    .index-introduction
        margin 20px 40px 10px 40px;
        padding 15px 15px 10px 15px;
        line-height 20px;
        background-color: $index-bg2-color
        border 1px #888 solid;
        border-radius 5px;
        overflow hidden;
        position: fixed; 
        top: 210px;
        bottom: 80px;
        color $font-white-color
        .li-break
            margin-bottom 16px;
    .home-btn
        position: fixed; 
        bottom: 20px;
        right: 10px;
        left: 10px;
</style>
