<template>
    <MainPage :title="$t('lang.msg2')" :nomore="true">
        <div slot="content">
            <div class="main-index">
                <img class="main-banner" src="@/assets/home-banner.jpg">
                <form>
                    <div style="margin-top: 15px;">
                        <cube-input v-model="form_reg.username"
                            :placeholder="$t('lang.msg3')"
                            type="text"
                            :clearable="{visible: true, blurHidden: true}" class="reg-field"
                            autocomplete="false"
                            >
                            <i slot="prepend" class="fas fa-user reg-icon"></i>
                        </cube-input>
                        <cube-validator v-model="check0" :model="form_reg.username" :rules="rules0" class="error-msg"></cube-validator>
                    </div>
                    <div style="margin-top: 10px;">
                        <cube-input v-model="form_reg.phone"
                            :placeholder="$t('lang.msg4')"
                            type="text"
                            :clearable="{visible: true, blurHidden: true}" class="reg-field"
                            autocomplete="false"
                            >
                            <i slot="prepend" class="fas fa-phone reg-icon"></i>
                        </cube-input>
                        <cube-validator v-model="check4" :model="form_reg.phone" :rules="rules4" class="error-msg"></cube-validator>
                    </div>
                    <div style="margin-top: 10px;">
                        <cube-input v-model="form_reg.pwd"
                            :placeholder="$t('lang.msg5')"
                            type="password"
                            :eye="{open: false,reverse: false}"
                            class="reg-field"
                            autocomplete="false"
                            >
                            <i slot="prepend" class="fas fa-unlock-alt reg-icon"></i>
                        </cube-input>
                        <cube-validator v-model="check1" :model="form_reg.pwd" :rules="rules1" class="error-msg"></cube-validator>
                    </div>
                    <div style="margin-top: 10px;">
                        <cube-input v-model="form_reg.confirm_pwd"
                            :placeholder="$t('lang.msg6')"
                            type="password"
                            :eye="{open: false,reverse: false}"
                            class="reg-field"
                            autocomplete="false"
                            >
                            <i slot="prepend" class="fas fa-unlock-alt reg-icon"></i>
                        </cube-input>
                        <cube-validator v-model="check2" :model="form_reg.confirm_pwd" :rules="rules2" class="error-msg"></cube-validator>
                    </div>
                    <div style="margin-top: 10px;">
                        <cube-input v-model="form_reg.code"
                            :placeholder="$t('lang.msg7')"
                            type="text"
                            :clearable="{visible: true, blurHidden: true}"
                            class="reg-field"
                            :disabled="checkCode"
                            >
                            <i slot="prepend" class="fas fa-qrcode reg-icon"></i>
                        </cube-input>
                    </div>
                    <div class="padding">
                        <cube-button  @click="register" class="reg-button blue-btn" :disabled="!check0 || !check1 || !check2 || !check4" :class="{'disabled-btn':!check0 || !check1 || !check2 || !check4}">註冊</cube-button>
                    </div>
                </form>
            </div>
        </div>
    </MainPage>
</template>
<script>
import { Locale } from 'cube-ui'
import MainPage from '@/components/nav-bar.vue'
import { validator } from '@/utils/validator.js'
import { mapGetters } from "vuex";
import { apiReg } from "@/api.js";
import { globalMixin } from '@/mixin.js';
export default {
    mixins: [globalMixin,Locale.localeMixin],
    data() {
        return {
            check0:false,
            check1:false,
            check2:false,
            check4:false,
            form_reg:{
                username: '',
                phone: '',
                pwd: '',
                confirm_pwd: '',
                code: this.$route.params.code,
            },
            rules0:{
                type: 'string',
                required: true,
                pattern: validator.username,
            },
            rules4:{
                type: 'string',
                required: true,
                pattern: validator.phone,
            },
            rules1:{
                type: 'string',
                required: true,
                min:4,
            },
            rules2:{
                type: 'string',
                required: true,
                min:4,
            }
        }
    },
    methods: {
        back()
        {
          this.$router.back()
        },
        register()
        {
            if(!validator.isUsername(this.form_reg.username)){
                this.toast(this.$t('lang.err2'));
                return;
            }
            // if(!validator.isPassword(this.form_reg.pwd)){
            //     this.toast('密碼格式不正確,請輸入6-12位數字及字母組合');
            //     return;
            // };
            if(this.form_reg.pwd != this.form_reg.confirm_pwd){
                this.toast(this.$t('lang.err1'));
                return;
            }
            apiReg({
                Phone:this.form_reg.phone,
                Code:this.form_reg.code,
                Username:this.form_reg.username,
                Password:this.form_reg.pwd,
            })
            .then(response => {
                if(!response.data.status)
                {
                    this.error_handler(response.data);
                }
                if(response.data.status)
                {
                    this.toast(
                        this.$t('lang.msg1'),
                        {
                            func: () => {
                                this.$store.dispatch('setUserInfo',response.data.data);
                                this.$router.push("/game");
                            }
                        });
                    // setTimeout(()=> {
                    //     this.$store.dispatch('getCoin');
                    // }, 15000);
                }
                return;
            }).catch(error => {
                console.log(error);
                return;
            });
        }
    },
    computed: {
		...mapGetters({
            user: "user",
        }),
        checkCode()
        {
            if(this.$route.params.code==undefined)
            {
                return false
            }else
            {
                return true
            }
        }
    },
    components: {
        MainPage
    },
    created() {
    }
}

</script>
<style lang="stylus" rel="stylesheet/stylus" scoped>

</style>
