<template>
  <div class="nav-bar-reback" >
    <header class="header">
      <h1 class="header-title">
        <div style="margin-right: 5px;" ></div>
        {{title}} 
      </h1>
      <i @click="back" class="cubeic-back" v-if="noback==false"></i>
      <i @click="more" class="cubeic-more" v-if="nomore==false"></i>
    </header>
    <div class="wrapper">
      <main class="content">
        <slot name="content">{{content}}</slot>
      </main>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  export default {
  data() {
      return {

      }
  },
  props: {
      title: {
        type: String,
        default: '',
        required: true
      },
      content: {
        type: String,
        default: ''
      },
      noback:{
        type: Boolean,
        default: false
      },
      nomore:{
        type: Boolean,
        default: false
      }
    },
    methods: {
      back() {
        this.$emit('callback',0);
      },
      more() {
        this.$emit('callmore',0);
      },
    },
    created() {

    },
    components: {
    },    
  }
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
  .nav-bar-reback
    position: fixed
    z-index: 10
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: $main-bg-color;
    .header
      position: relative
      height: 44px
      line-height: 44px
      text-align: center
      background-color: $navbar-bg-color
      box-shadow: 0 1px 6px $nav-shadow-color
      -webkit-backface-visibility: hidden
      backface-visibility: hidden
      z-index: 5
      h1
        font-size: 16px
        font-weight: 700
        display: flex;
        justify-content: center;
        color: $main-font-color;
      .cubeic-back
        position: absolute
        top: 0
        left: 0
        padding: 0 15px
        color: $main-font-color
      .cubeic-more
        position: absolute
        top: 0
        right: 0
        padding: 0 15px
        color: $main-font-color
    .wrapper
      height: calc(100% - 44px)
      overflow-x: hidden
      overflow-y: auto
      //background-color: #fff ;
      // -webkit-overflow-scrolling: touch
      .desc
        padding: 10px
        margin: 10px 0
        line-height: 20px
        font-size: 14px
      .content
        // margin: 10px
    &.option-demo
      .wrapper
        background-color: $color-white
      .title
        font-size: $fontsize-large
        font-weight: 500
        color: $color-dark-grey
        padding: 15px
        border-bottom: 1px solid rgba(0, 0, 0, .1)
        margin-bottom: 15px
      .options
        margin-bottom: 15px
      .option-list
        .group
          margin-bottom: 15px
          border: 1px solid rgba(0, 0, 0, .1)
          border-radius: $radius-size-medium
        .item
          height: 52px
          border-bottom: 1px solid rgba(0, 0, 0, .1)
          &.sub
            font-size: $fontsize-medium
            background-color: $color-light-grey-opacity
            &.first
              box-shadow: 0 1px 1px 1px #eee inset
            &.last
              border-bottom: none
      .demo
        margin-bottom: 15px
      .methods
        .method-list
          .group
            margin-bottom: 15px
            border: 1px solid rgba(0, 0, 0, .1)
            border-radius: $radius-size-medium
          .item
          button
            height: 40px
            font-size: $fontsize-large
          .item
            background-color: $color-active-light-gray
            border-bottom: 1px solid rgba(0, 0, 0, .1)
          button
            width: 100%
            border-bottom-left-radius: $radius-size-medium
            border-bottom-right-radius: $radius-size-medium
            background-color: $color-orange
            box-shadow: 0 0 0 1px $color-orange
            border: none
            outline: none
            color: $color-white
</style>
