<template>
    <MainPage :title="$t('lang.msg37')"  v-on:callmore="more" v-on:callback="back">
        <div slot="content">
            <div class="main-index">
                <cube-scroll  ref="scroll" :data="bidLog.results" :options="scrollLogOpts" :scroll-events="['scroll']"  @pulling-down="logRefresh" @pulling-up="logLoadMore">
                <div class="record-time-zone">
                    <i class="fas fa-clock " ></i><div class="time-padding">{{filterData.StartValue}}</div> ~ <div class="time-padding">{{filterData.EndValue}}</div>
                </div>
                <div v-for="(item, index) in bidLog.results" class="prod-block" :key="index" >
                    <div style="display: flex;padding: 3px;">
                        <div>
                            <img class="imgIcon" :src="require('@/assets/images/prod/'+item.ProdID+'.png')">
                        </div>
                        <table>
                            <tr>
                                <td >
                                    <div class="tag-status" :class="{'tag-color-0':item.Status==0,'tag-color-1':item.Status==1,'tag-color-2':item.Status==2}">
                                        <i class="fas fa-tag" style="margin-right: 3px;"></i> {{getBidStatus(item.Status)}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="record-txt">{{item.ProdName}}</div>
                                </td>
                                <td>
                                    <div class="record-txt">{{$t('lang.msg19')}}: {{getMomentDate(item.CreatedAt)}} {{getMomentTime(item.CreatedAt)}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="record-txt">{{$t('lang.msg16')}}: {{item.Coin}}</div>
                                </td>
                                <td>
                                    <div class="record-txt">{{$t('lang.msg17')}}: {{getMomentDate(item.EndTime)}} {{getMomentTime(item.EndTime)}}</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="no-record" v-if="!bidLog.results.length">
                    <img class="no-record-img" src="@/assets/images/user/norecord.png">
                    <div class="no-record-txt">{{$t('lang.msg35')}}</div>
                </div>
                </cube-scroll>  
            </div>
            <transition name="filtermenu">
                <component :is="default_view" v-if="show_view" v-on:callback="search" v-on:showSearch="showSearch"></component>
            </transition>
        </div>
    </MainPage>
</template>
<script>
import { Locale } from 'cube-ui'
import MainPage from '@/components/nav-bar-reback.vue'
import { mapGetters } from "vuex";
import { apiBidLog } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import moment from 'moment'
export default {
    mixins: [globalMixin,Locale.localeMixin],
    data() {
        return {
            show_view:false,
            filterData:{
                StartValue:moment(new Date()).format("YYYY-MM-DD"),
                EndValue:moment(new Date()).format("YYYY-MM-DD"),
                StatusValue:4
            },   
            bidLog:{
                results:[],
            },
            log: {
                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: ' ', //'Resfresh Success',

                pullUpLoadThreshold: 0,
                pullUpLoadMoreTxt: ' ',  //'Load more',
                pullUpLoadNoMoreTxt: '',    //'No more data',
            },
            current_page:1,
        }
    },
    methods: {
        search()
        {
            this.show_view=false
        },
        more(){
            this.show_view=true
            this.default_view=require('@/components/user/bidlog-search.vue').default;
        },
        back()
        {
          this.$emit('switchView');
        },
        showSearch(data)
        {
            this.show_view=false
            if(data!=null)
            {
                this.current_page=1;
                this.filterData=data;
                this.getLog(this.current_page);
            }
        },
        getLog(page)
        {
            apiBidLog({
                page: page,
                status: this.filterData.StatusValue,
                fromTime: this.filterData.StartValue,
                toTime: this.filterData.EndValue,
                })
                .then(response => {
                    if(!response.data.status)
                    {
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.bidLog.results.splice(0,this.bidLog.results.length);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data == null || response.data.data.length==0)
                        {
                            this.$refs.scroll.forceUpdate(false);
                            return;
                        }                        
                        this.bidLog.results=this.bidLog.results.concat(response.data.data);
                        this.$refs.scroll.refresh();
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    this.$refs.scroll.forceUpdate();
                    return;
                });
        },
        logRefresh(){
            this.current_page=1;
            setTimeout(() => {
                this.getLog(this.current_page);
            }, 1000);
        },
        logLoadMore(){
            this.current_page++;
            setTimeout(() => {
                this.getLog(this.current_page);
            }, 1000);
        },
    },
    computed: {
		...mapGetters({
            user: "user",
            config: "config",
        }),
        scrollLogOpts() {
            return {
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
                pullUpLoad: {
                    threshold: parseInt(this.log.pullUpLoadThreshold),
                    txt: {
                        more: this.log.pullUpLoadMoreTxt,
                        noMore: this.$t('lang.err3')
                    }
                },
                scrollbar: true
            }
        },
    },
    components: {
        MainPage,
    },
    created() {
        this.getLog(1);
    }
}

</script>
<style lang="stylus" rel="stylesheet/stylus" scoped>
.main-index
    .tag-status
        font-size 14px
        padding: 5px;
        width: 70px;
        border-radius: 5px;
        line-height 20px;
        margin-bottom 10px;
    .tag-color-0
        // background: -webkit-linear-gradient(right bottom,#8fdeab,#03aa5e);
        background-color $bid-0-bg-color
        color: $bid-0-font-color
        border 1px $bid-0-border-color solid
    .tag-color-1
        // background: -webkit-linear-gradient(right bottom,#79b9fa,#0781d5);
        background-color $bid-1-bg-color
        color: $bid-1-font-color
        border 1px $bid-1-border-color solid
    .tag-color-2
        background-color $bid-2-bg-color
        color: $bid-2-font-color
        border 1px $bid-2-border-color solid
    .prod-block
        table
            margin-top 10px;
            margin-left 10px;
        .imgIcon
            width 100px
            border-radius: 3px
        .record-txt
            font-size 14px
            line-height: 25px
</style>