<template>
    <MainPage :title="$t('lang.msg95')" v-on:callback="back" :nomore="true">
        <div slot="content" >
            <div class="main-index user-center" >
                <cube-scroll ref="scroll" :options="scrollLogOpts" :scroll-events="['scroll']"  @pulling-down="logRefresh">
                    <div class="header-bg"></div>
                    <div class="user-content">
                        <div class="user-top-box ">
                            <div class="row money">
                                <div class="wallet-box">
                                    <div class="user-logo"></div>
                                    <div class=" fw700">{{ user.Username}}</div>
                                </div>
                                <div class="wallet-total-box">
                                    <div class="user-point fw700">
                                        <div>
                                            {{user.Coin | numFilter}}
                                        </div>
                                        <div class="cash-box">
                                            <div class="col-auto text-center" @click="CallView('recharge')" style="width: 50%;">
                                                <i class="icon fas fa-donate recharge"></i>{{$t('lang.msg31')}}
                                            </div>
                                            <div class="col-auto text-center" @click="CallView('withdraw')" style="width: 50%;">
                                                <i class="icon fas fa-coins withdraw"></i>{{$t('lang.msg32')}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="row" style="padding-top: 10px">
                                <div class="col-auto text-center" @click="CallView('agent')">
                                    <i class="icon fas fa-users agent"></i>{{$t('lang.msg61')}}
                                </div>
                                <div class="col-auto text-center" @click="CallView('translog')">
                                    <i class="icon fas fa-coins withdraw"></i>{{$t('lang.msg51')}}
                                </div>
                                <div class="col-auto text-center" @click="CallView('bidlog')">
                                    <i class="icon fas fa-donate recharge"></i>{{$t('lang.msg52')}}
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-auto text-center" @click="CallView('prodlog')">
                                    <i class="icon fas fa-clipboard-list coinlog"></i>{{$t('lang.msg53')}}
                                </div>
                                <div class="col-auto text-center" @click="CallView('rechargelog')">
                                    <i class="icon fas fa-chess ebetlog"></i>{{$t('lang.msg55')}}
                                </div>
                                <div class="col-auto text-center" @click="CallView('withdrawlog')">
                                    <i class="icon fas fa-file-alt betlog"></i>{{$t('lang.msg54')}}
                                </div>
                            </div>

                            <div class="row" >
                                <div class="col-auto text-center" @click="CallView('safe')">
                                    <span class="icon fas fa-cog safe"></span>{{$t('lang.msg56')}}
                                </div>
                                <div class="col-auto text-center" @click="CallView('promotion')">
                                    <span class="icon fas fa-cog safe" ></span>{{$t('lang.msg58')}}
                                </div>
                                <div class="col-auto text-center" @click="CallView('message')">
                                    <span class="icon fas mail " :class="{'fa-envelope-open-text':checkLetter,'fa-envelope':!checkLetter}"></span>
                                    <span :class="{'box':checkLetter}">{{$t('lang.msg59')}}</span>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-auto text-center" @click="logout">
                                    <span class="icon fas fa-power-off logout"></span>{{$t('lang.msg60')}}
                                </div>
                                <div class="col-auto text-center" >
                                </div>
                                <div class="col-auto text-center" >
                                </div>
                            </div>
                        </div>

                    </div>
                </cube-scroll>
            </div>
            <tab-bar></tab-bar>
            <transition name="filtermenu">
            <component :is="default_view" v-if="show_view"  v-on:switchView="CallView2"></component>
            </transition>
        </div>
    </MainPage>
</template>
<script>
import { Locale } from 'cube-ui'
import MainPage from '@/components/nav-bar.vue'
import TabBar from '@/components/tab-bar.vue'
import { mapGetters } from 'vuex'
import { globalMixin } from '@/mixin.js'
import { apiCheckLetter,apiLogout } from "@/api.js";
export default {
    mixins: [globalMixin,Locale.localeMixin],
    data() {
        return {
            checkLetter:false,
            default_view:null,
            show_view:false,
            log: {
                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: '', //'Resfresh Success',
            },            
        }
    },
    computed: {
        ...mapGetters({
            user: 'user',
        }),
        username(){
            return this.user.username;
        },
        scrollLogOpts() {
            return {
                pullUpLoad: false,
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
                scrollbar: false,
            }
        },
    },
    components: {
        MainPage,
        TabBar,
    },    
    methods: {
        back()
        {
            this.$router.back()
        },
        CallView(path)
        {
            switch(path)
            {
                case "translog":
                    this.default_view=require('@/views/user/translog.vue').default;
                    break;
                case "bidlog":
                    this.default_view=require('@/views/user/bidlog.vue').default;
                    break;
                case "prodlog":
                    this.default_view=require('@/views/user/prodlog.vue').default;
                    break;
                case "safe":
                    this.default_view=require('@/views/user/safe.vue').default;
                    break;
                case "recharge":
                    this.default_view=require('@/views/user/recharge.vue').default;
                    break;
                case "withdraw":
                    this.default_view=require('@/views/user/withdraw.vue').default;
                    break;
                case "rechargelog":
                    this.default_view=require('@/views/user/recharge-log.vue').default;
                    break;
                case "withdrawlog":
                    this.default_view=require('@/views/user/withdraw-log.vue').default;
                    break;
                case "promotion":
                    this.default_view=require('@/views/index/promotion.vue').default;
                    break;
                case "message":
                    this.default_view=require('@/views/user/message.vue').default;
                    break;
                case "agent":
                    this.default_view=require('@/views/agent/index.vue').default;
                    break;
            }
            this.show_view=true;
        },
        CallView2()
        {
            this.show_view=false;
        },
        check_letter()
        {
            apiCheckLetter({
                })
                .then(response => {
                    if(!response.data.status)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        this.checkLetter=response.data.data;
                    }
                    this.$refs.scroll.forceUpdate();
                    return;
                }).catch(error => {
                    console.log(error);
                    this.$refs.scroll.forceUpdate();
                    return;
                });
        },
        logout()
        {
            apiLogout({
                })
                .then(response => {
                    if(!response.data.status)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        this.toast(
                            this.$t('lang.msg139'),
                            {
                                func: () => {
                                    this.$store.dispatch('clearUserInfo');
                                    this.$router.push("/");
                                }
                            });
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
        logRefresh(){
            this.checkLogin();
            this.check_letter();
        },        
    },
    created() {
        //this.check_letter();
        if(this.user.Username==''){
            this.checkLogin();
        }
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus" scoped>
.main-index
    top: 40px;
    bottom: 65px;
    background-image: url("assets/images/index-bg.jpg")
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .row
        display: flex;
        .text-center
            text-align center;
    font-size .5rem;
    line-height: 1.2rem;
    text-align center
.user-center
  .user-content 
    margin 40px 20px 0px 20px
    color $font-white-color
    position relative
    .user-logo 
      width 85px
      height 85px
      background-size cover
      left 0
      right 0
      margin auto
      background-repeat no-repeat
      background-image url("./assets/images/user/logo.png")
    .user-class 
      left 0
      right 0
      margin auto
      position absolute
      z-index 2
      width 60px
      background linear-gradient(140deg,#4c0,#23550a)
      color #fff
      text-align center
      border-radius 2px
      top 30px
    .user-name 
      top -68px
      left 0
      right 0
      margin auto
      position absolute
      z-index 2
      text-align center
      font-size 17px
      color #eee
    .user-top-box 
      position relative
      background: $index-bg-color
      border-radius 8px
      padding 10px
      .wallet-box 
        width 50%
        padding 0px
      .wallet-total-box 
        width 50%
        border-left 1px solid $border-white-color
        display flex;
        .user-point
            flex auto;
            .cash-box
                display inline-flex
                width 100%
        .user-more
            font-size: 1.5rem;
            line-height: 38px;
            color #ccc;
    .user-bottom-box 
      position relative
      background #fff
      border-radius 8px
    .divider 
      height 1px
      background-color $border-white-color
    .row 
      &.money 
        padding 20px 0px 15px
    .col-auto 
        font-size 15px
      .icon 
        margin 10px 10px 2px 10px
        font-size .8rem
        display block
    .agent
        color #ee6e6e;
    .withdraw
        color #44c26f;
    .recharge
        color #61b6e5;
    .coinlog
        color #44c26f;
    .betlog
        color #bca6e1;
    .mail
        color #ee6e6e;
    .withdrawLog
        color #44c26f;
    .rechargeLog
        color #61b6e5;
    .safe
        color #ee6e6e;
    .help
        color #61b6e5;
    .promotion
        color #44c26f;
    .logout
        color #ee6e6e;
    .ebetlog
        color #61b6e5;
.user-center .user-content .row .col-auto:nth-last-child(3),.user-center .user-content  .row .col-auto:nth-last-child(3)~.col-auto 
  width calc((100%)/ 3)
.box{ 
    color:#e1e40d; 
    animation: changeshadow 2s  ease-in  infinite ;
    /* 其它浏览器兼容性前缀 */
    -webkit-animation: changeshadow 2s linear infinite;
    -moz-animation: changeshadow 2s linear infinite;
    -ms-animation: changeshadow 2s linear infinite;
    -o-animation: changeshadow 2s linear infinite;
}  
@keyframes changeshadow {  
    0%{ text-shadow: 0 0 4px #e40d2d}  
    50%{ text-shadow: 0 0 40px #e40d2d}  
    100%{ text-shadow: 0 0 4px #e40d2d}  
}
/* 添加兼容性前缀 */
@-webkit-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #e40d2d}  
        50%{ text-shadow: 0 0 40px #e40d2d}  
        100%{ text-shadow: 0 0 4px #e40d2d}  
}
@-moz-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #e40d2d}  
        50%{ text-shadow: 0 0 40px #e40d2d}  
        100%{ text-shadow: 0 0 4px #e40d2d}  
}
@-ms-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #e40d2d}  
        50%{ text-shadow: 0 0 40px #e40d2d}  
        100%{ text-shadow: 0 0 4px #e40d2d}  
}
@-o-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #e40d2d}  
        50%{ text-shadow: 0 0 40px #e40d2d}  
        100%{ text-shadow: 0 0 4px #e40d2d}  
}
</style>
